/* BEGIN: infoButton */
.infoButton {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
}
/* END */

/* BEGIN: tableAlign */
td, th { vertical-align: middle !important; }
/* END */

/* BEGIN: toTheTop */
#toTheTop {
    cursor: pointer;
    font-size: 25px;
    color: white;
    position: absolute;
    right: 15px;
    bottom: 0px;
    display: none;
}

@media not all and (pointer: coarse) {
    #toTheTop:hover { color: gray; }
}
/* END */
